<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Form</title>
</head>
<body>
  <form method="POST" action="/register">
    <p>Register to TinyApp!</p>
    <br/>
    <label>Enter your email: </label>
    <input type="email" name="email">
    <br/>
    <label>Enter your password: </label>
    <input type="password" name="password">
    <br/>
    <br/>
    <button type="submit">Register!</button>
  </form>
</body>
</html>

